HELP.md
.gradle
build/





!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea

*.iws
*.iml
*.ipr
*.gz

out/
!**/src/main/**/out/
!**/src/test/**/out/




### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/


src/main/resources/keystore.p12
src/main/resources/yourkeystore.jks
*.p12
*.jks
src/main/resources/application.properties
!/out/
out/artifacts/
out/production/resources/META-INF/
out/production/resources/db/
out/production/resources/static/
out/production/resources/templates/
out/production/resources/application.properties
logs/logging.log


#!/img/4fe8efec.jpg

/img/

